body {
    background-color: white;
    text-align: -webkit-center;
    font-family: Arial;
    margin-bottom: 10px;
    margin-top: 1px;
}

::-webkit-input-placeholder {
    padding: 10px;
    font-size: 30px;
    border-color: black;
    color: whitesmoke;
    font-family: inherit;
    font-weight: inherit;
    font-style: italic;
}

input {
    width: 25%;
    padding: 15px;
    position: relative;
    border-radius: 2px;
}

h1 {
    font-size: 45px;
    font-weight: inherit;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: peachpuff;
}

.todolist .header input {
    height: 100%;
    margin-top: 1px;
    position: relative;
}

.todolist .theList li {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    width: 25%;
}

ul.theList {
    padding: 0;
}